<h1>List of styles</h1>

<br/>

 <ul class="list-group list-group-flush">
  <% @styles.each do |style| %>
    <li class="list-group-item"> <%= link_to style.name, style%> </li>
  <% end %>
</ul>

<br/>

<%= link_to('New Style', new_style_path, class:"btn btn-primary") %>