<h1><%= @style.name %></h1>

<quote><%= @style.description%></quote>

<br/>
<br/>

<%if @style.beers.empty?%>
  <p>this style doesn't have any beers yet</p>
<%else%>
  <h4>beers</h4>
  <ul>
    <%@style.beers.each do |beer|%>
      <li> <%=beer%></li>
    <%end%>
  </ul>
<%end%>

<%= edit_and_destroy_buttons(@style) %>